<section class="destiny container">
    <div class="title-container">
        <img class="flower-svg" src="/images/flower.svg" alt="A pretty flower serving as a background">
        <p class="hello">Te ha tocado aguantarme en: </p>
        <h2>Ilha da</h2>
        <h2>Madeira</h2>
    </div>
    <p class="surprise-text left"> Playas prístinas, paisajes impresionantes y cultura vibrante, Madeira es un verdadero tesoro en la tierra. </p>
    <img class="svg madeira-gallery" loading="lazy" src="/images/madeira-gallery.svg" alt="Multiple photos of landscapes in Madeira">
    <p class="surprise-text right"> Te espera una gran experiencia al explorar esta preciosa isla con un maravilloso compañero de viaje...
    </p>
    <span class="antonio">¡Antonio!</span>
    <span class="smile">:]</span>
</section>
<div class="heart-container">
    <img class="svg hearts" src="/images/hearts.svg" alt="Pretty">
</div>