<footer>
    <marquee  direction="left">
    Made with LOVE
    <img class="svg small-star" loading="lazy" src="/images/small-star.svg" alt="Multiple photos of a house in Madeira">
    Proyecto hecho gracias a Antonio y Marta Holly
    <img class="svg small-star" loading="lazy" src="/images/small-star.svg" alt="Multiple photos of a house in Madeira">
    Pa' Madeira
    <img class="svg small-star" loading="lazy" src="/images/small-star.svg" alt="Multiple photos of a house in Madeira">
</marquee>
</footer>
<script src="/js/index.js"></script>
