<header class="">
    <div class="title-container">
        <p class="hello">¡Hola!</p>
        <h1>Marlene</h1>
    </div>
    <div class="images-container">
        <img class="svg svg-heart" src="/images/marlene-heart.svg" alt="Marlene surrounded heart wave effect">
        <span>definition of cuteness</span>
        <img class="svg svg-wavy" src="/images/marlene-wavy.svg" alt="Marlene surrounded by wave effect">
    </div>

    <div class="surprise-container">
        <div class="surprise-title">¡Sorpresa!</div>  
        <p class="surprise-text"> Si has llegado hasta aquí, es porque ha llegado el día de tu
            cumpleaños
        </p>
        <p class="surprise-text">
          ¡Felicidades! Hay algo preparado para ti, y tengo muchas ganas de
          compartir los detalles contigo :]
        </p> 
        
    </div>
</header>