<section class="stay container">
    <div class="title-container">
        <p class="hello">Una casita</p>
        <h2>de loco'</h2>
    </div>
<p class="surprise-text left">Durante tu viaje, te alojarás en un impresionante alojamiento enclavado en las montañas, con vistas panorámicas al mar.
</p>
<img class="svg stay-gallery" loading="lazy" src="/images/stay-gallery.svg" alt="Multiple photos of a house in Madeira">
</section>
<marquee  direction="right">¡Aun con posibilidad de cambio! <img class="svg small-star" loading="lazy" src="/images/small-star.svg" alt="Multiple photos of a house in Madeira">¡Aun con posibilidad de cambio! <img class="svg small-star" loading="lazy" src="/images/small-star.svg" alt="Multiple photos of a house in Madeira"></marquee>
<p class="surprise-text marquee-text">Es el lugar perfecto para relajarse, rejuvenecer y crear recuerdos entrañables con tu compañero más cercano <b>*wink*</b>.</p>
<marquee class="bottom-marquee" direction="left">¡Aun con posibilidad de cambio! <img class="svg small-star" loading="lazy" src="/images/small-star.svg" alt="Multiple photos of a house in Madeira">¡Aun con posibilidad de cambio! <img class="svg small-star" loading="lazy" src="/images/small-star.svg" alt="Multiple photos of a house in Madeira"></marquee>