@font-face {
    font-family: 'Sfizia';
    src: url('../fonts/Sfizia-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sfizia Italic 2';
    src: url('../fonts/Sfizia-RegularItalicNo2.otf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sfizia Bold';
    src: url('../fonts/Sfizia-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sfizia Italic';
    src: url('../fonts/Sfizia-RegularItalic.otf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


body{
    background-color: #F1F3F4;
    margin: 0;
    padding: 0;
    color: #738A7A;
    
}
.container{
    margin: 0 auto;
    padding: 16px;
}

.title-container{
    color: #3A5141;

}
.title-container h1 {
    font-family: 'Sfizia Italic';
    font-size: 105px;
    line-height: 147px;
    margin-top:-20px;
    margin-bottom: 0;
}

.title-container p {
    margin: 0;
    text-align: left;
    font-family: 'Sfizia';
    font-style: normal;
    
    font-size: 12px;
    line-height: 20px;
}

p{
    font-family: 'Sfizia';
    font-style: normal;
    
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.images-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.images-container span {
    align-self: center;
    rotate: -30deg;
    font-family: 'Sfizia Italic';
    font-size: 12px;
    line-height: 10px;
    margin-right: -15px;
    margin-bottom: 32px;
    text-align: center;
}
.svg{
    height: auto;
}
.svg-heart{
    min-width: 116px;
    height: auto;
    margin-top: -82px;
}
.svg-wavy{
    min-width: 248px;
    height: auto;
    margin-top: -50px;
}

.surprise-container{
    border: 0.5px solid #738A7A;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 16px;
    gap: 15px;
    margin-top: -80px;

}
.surprise-title{
    border: 0.5px solid #738A7A;
    text-align: center;
    font-family: 'Sfizia Italic';
    font-size: 24px;
    line-height: 34px;
    padding: 20px 10px;
    border-radius: 1e+06px;
    padding: 0.25em 1.1em;
}
.surprise-text{
    font-size: 16px;
    margin: 0;
}

.surprise-text.left{text-align: left;}
.surprise-text.right{
    text-align: right;
}
.destiny{
    display: flex;
    flex-flow: column;
}
.destiny h2{
    font-family: 'Sfizia Italic';
    font-size: 103.036px;
    line-height: 144px;
    margin: 0;
    margin-top: -20px;
}
.destiny h2:last-of-type{
    margin-top: -65px;
}
.flower-svg{
    position: absolute;
    z-index: -1;
    min-width: 350px;
}
.madeira-gallery{
    width: calc(100% + 32px);
    margin: 40px -16px;
}
.antonio{
    font-family: 'Sfizia Italic';
    font-size: 56px;
    line-height: 78px;
    text-align: right;
    color: #3A5141;
}
.smile{
    font-family: 'Sfizia';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    align-self: flex-end;
    color: #9CB1A2;
    margin-top: -15px;
    margin-right: 15px;
}