@font-face {
    font-family: 'Sfizia';
    src: url('../fonts/Sfizia-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sfizia Italic 2';
    src: url('fonts/Sfizia-RegularItalicNo2.otf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sfizia Bold';
    src: url('fonts/Sfizia-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sfizia Italic';
    src: url('fonts/Sfizia-RegularItalic.otf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


body{
    background-color: #F1F3F4;
    margin: 0;
    padding: 0;
    color: #738A7A;
    
}
.container{
    max-width: 30em;
        margin: 0 auto;
}
header{
    padding: 16px;
}
.title-container{
    color: #3A5141;

}
.title-container h1 {
    font-family: 'Sfizia';
font-style: italic;
font-weight: 400;
font-size: 6.56em;
line-height: 147px;
margin-top:-30px;
margin-bottom: 0;
}

.title-container p {
    margin: 0;
    text-align: left;
    font-family: 'Sfizia';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 20px;
}

p{
    font-family: 'Sfizia';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 26px;
    text-align: center;
}

.images-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.images-container span {
    align-self: center;
    rotate: -30deg;
    font-family: 'Sfizia';
font-style: italic;
font-weight: 400;
font-size: 0.75em;
line-height: 10px;
margin-left: -30px;
margin-right: -15px;
text-align: center;
}
.svg{
    height: auto;
}
.svg-heart{
    min-width: 116px;
    height: 107px;
    margin-top: -50px;
}
.svg-wavy{
    min-width: 248px;
    margin-top: -50px;
}

.surprise-container{
    border: 0.5px solid #738A7A;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 16px;
    gap: 15px;
    margin-top: -80px;

}
.surprise-title{
    border: 0.5px solid #738A7A;
    text-align: center;
    font-family: 'Sfizia';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 34px;
    padding: 20px 10px;
    border-radius: 1e+06px;
    padding: 0.25em 1.1em;
}
.surprise-text{
    font-size: 1em;
    margin: 0;
}

